<div class="form-container">
    <h2>Reminder Form</h2>
    <form action="/setRemainder" method = "POST">
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" placeholder="Title" required>
        </div>
        <div class="form-group">
            <label for="note">Note:</label>
            <input type="text" id="note" name="note" placeholder="Note" required>
        </div>
        <div class="form-group">
            <label for="remind-time">Remind Time:</label>
            <input type="datetime-local" id="remind-time" name="remind_time" placeholder="Remind Time">
        
        <div class="form-group">
            <input type="submit" value="Set Reminder">
        </div>
    </form>
</div>